html, body {
    margin: 0;
    padding:0;
}
header {
    position: relative;
    right: 0;
    top: 0;
    left: 0;
    padding: .05em;
    background-color: #0070bf;
    text-align: center;
    
}
a {
    text-decoration: none;
    color: white;
}
body {
    margin-bottom: -100px;
}
h1 {
    text-align: center;
    font-family: sans-serif, verdana, arial;
    font-size: 3em;
    font-weight: normal;
    position: relative;
    color: white;
    letter-spacing: .05em;
    word-spacing: .2em;
    padding-bottom: 0;
}
h2 {
    float: center;
    clear: both;
    text-align: center;
    font-family: sans-serif, verdana, arial;
    letter-spacing: .05em;
    word-spacing: .1em;
    margin-top: 10%;
}
.formdiv {
    display: block;
    text-align: center;
}
form {
    display: inline-block;
    clear: both;
    
    
}
.form {
    float: left;
    padding: 10px;
    background-color: #efefef;
}

#title {
    font-family: Sans-serif;
}
button {
    padding: 1% 5%;
    border: none;
    border-radius: 4px;
    float: center;
    clear: both;
    color: white;
    background-color: #F28000;
    border-color: #E37A29;
    position: relative;
    margin: 10%;
}
.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    width:  100%;
    background-color: #0070bf;
    text-align: center;
}
placeholder:focus::-webkit-input-placeholder {
    color: transparent;
}
@media (max-width: 600px)
